{% load static %}
<footer>
  <div class="container col-12 card bg-light">
      <div class="col-12 text-align-center mx-auto my-4">
          <ul class="list-unstyled">
            <li class="my-2"><strong class="text-dark roboto-light-font">Elsewhere</strong></li>
            <li class="my-2"><a class="text-secondary" href="https://github.com/Correct-Syntax">Github</a></li>
            <li class="my-2"><a class="text-secondary" href="https://pypi.org/user/CorrectSyntax">PyPI</a></li>
          </ul>
      </div>
      <div class="col-12 mx-auto text-align-center mt-3">
        <h6 class="text-secondary mx-auto">
          <small>© 2020 <a class="text-success" href="https://correctsyntax.com">Correct Syntax</a>. All rights reserved.</small>
        </h6>
      </div>
  </div>
</footer>