{% extends "base.html" %}
{% load static %}

{% block title %}Sabbath Redirect{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
<div class="mt-5">
  <div class="container">
    <div class="row text-center">
      <h1 class="mx-auto text-dark mt-5">Sabbath Redirect</h1> 
    </div> 
    <div class="row">
        <p class="text-dark mt-lg-2 pt-lg-2 mb-2 ml-4 mr-4">
            Hello and thank you for your interest in this website.
        </p>
        <p class="text-dark mt-lg-2 pt-lg-2 mb-2 ml-4 mr-4">
            We value family and love our Heavenly Father, Yahweh and we choose to keep the Holy days and Feast days that He has given us to celebrate in the Bible. One of these Holy days, the weekly Sabbath, is a set-apart day of rest for Yahweh's people.
        </p>
        <p class="text-dark mt-lg-2 pt-lg-2 mb-2 ml-4 mr-4">
            It is a blessing from Yahweh and a delight to have a day of rest so that we can grow closer to the One who made us and not forget what really matters. For these reasons, we do not have the majority of our website open to the public on these set-apart days. 
        </p>                   
        <p class="text-dark mt-lg-2 pt-lg-2 mb-2 ml-4 mr-4">
            You can come back on the first day of the week (commonly called "sunday") when our website will be open to the public again. Thank you for your understanding!
        </p>
    </div>

    <div class="row mx-auto my-4">
        <small class="mx-auto text-center">These Sabbath and Holy-day redirects are powered by the free &amp; open-source software, <a href="https://correctsyntax.com/projects/keep-sabbath/">Keep-Sabbath</a>.</small>
    </div>
</div> 
{% endblock %}